.s-swipe {
  padding: 1rem;
}

.s-swipe__target {
  width: 320px;
  height: 240px;
  background-color: #ccc;
  font-size: 2rem;
  line-height: 240px;
  text-align: center;
}

@keyframes s-swipe__target {
  from {
    opacity: 0.99;
  }
  to {
    opacity: 1;
  }
}

.s-swipe__target {
  animation-duration: 0.001s;
  animation-name: s-swipe__target;
}
